/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Set core body defaults */
body {
  height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  width: 100%;
}
html{
  height: 100%;
  width: 100%;
}


main {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 100%;
  height: 100%;
}


.banner {
  background-image: url('images/pexels-pixabay-531756.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  /* height: 20.312rem; */
  height: 40%;
  top: 0;
}

.blur {
  width: 21.6875rem;
  height: 3.3125rem;
  flex-shrink: 0;
  border-radius: 50px;
  background: rgba(217, 217, 217, 0.27);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-left: 8.95%;
}

.proton{
  width: 80px;
  height: 80px;
  background-image: url('images/EARTH.png');
  background-size: cover;
  border-radius: 50%;

}

.electron{
  width: 100%;
  height: 100%;
  position: relative;
  animation: rotation 3s infinite linear;
}

.electron::before{
  content: '✈';
  transform: rotate(-29deg);
  width: 20px;
  height: 20px;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  left: -20px;
  top: -20px;

}

@keyframes rotation{
  0%{
    transform: rotate(-360deg);
  }
}



.page {
  background-color: #1f3c74;
  max-width: 100%;
  /* height: 43.688rem; */
  height: 100%;
  bottom: 0;
}

.display {
  width: 100%;
  height: 100%;
}

.content {
  width: 1440px;
  position: absolute;
  height: 100%;
  z-index: 3;
  top: 0;
}

.desc {
  background-color: #4285f4;
  color: #ffffff;
  top: 162px;
  left: 8.95%;
  display: flex;
  box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  width: min-content;
  height: min-content;
  position:absolute;
  animation-name: slideInLeft;
  animation-duration: 1s;
  max-height: 100%;
}

.desc p {
  font-size: 1.063rem;
  max-width: 13.3125rem;
  letter-spacing: 0.10625rem;
  margin: 24px;
}

.desc img {
  max-width: 271px;
  max-height: 250px;
  border-radius: 5px;
}

.input {
  position: absolute;
  background-color: #4285f4;
  border-radius: 10px;
  box-shadow: 6px 6px 6px 5px rgba(0, 0, 0, 0.25);
  right: 8.5%;
  top: 224px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: min-content;
  height: min-content;
  animation-name: slideInRight;
  animation-duration: 1s;
}

.input div:not(.weWill, .Ask, .search) {
  background-color: #1f3c74;
  color: #ffffff;
  width: 136px;
  height: 70px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.search {
  width: 197px;
  height: 55px;
  margin: 15px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 197px;
  background: rgba(32, 50, 97, 0.2);
  border-radius: 40px;

}


.search input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  margin-left: 20px;
  font-size: 1.5rem;
  max-width: 125px;
  color: #ffffff;
  padding: 10px 10px;
}
.search button i {
  font-size: 2rem;
}

.search button {
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.search button:hover {
  background: rgb(255, 255, 255);
}

.weWill {
  font-size: 24px;
  margin: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.Ask {
  background-color: #ffffff;
  width: 197px;
  height: 70px;
  margin: 15px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 4px 4px 0px #000000;
}

.Ask p {
  width: 200px;
  font-size: 24px;
  padding-left: 19px;
  padding-right: 19px;
}

.Ask p span {
  color: #0170bf;
}

.weWill p {
  width: 100px;
}

.data {
  width: min-content;
  height: min-content;
  border-radius: 10px;
  /* Change to display grid to show the data */
  display: none;
  grid-template-columns: min-content;
  gap: 10px;
  position: absolute;
  top: 458.7px;
  right: 6.94%;
  z-index: 3;
}

.SearchMessage {
  width: 768px;
  height: 509px;
  border-radius: 10px;
  background: rgba(46, 41, 41, 0.27);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 459px;
  right: 100px;
  z-index: 2;
  /* Change to display flex so that it appears */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  animation-name: slideInBottom;
  animation-duration: 1s;
}

@keyframes slideInBottom{
  from {
    transform: translateY(100px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes slideInLeft{
  from {
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slideInRight{
  from {
    transform: translateX(300px);
  }
  to{
    transform: translateX(0);
  }
}


.data div:hover{
    transform: scale(1.02);
}

.SearchMessage p {
  max-width: 500px;
}

.flightDate1 {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 517px;
  height: 116px;
  font-size: 1.5rem;
  grid-column: 2 / 5;
  grid-row: 1/2;
  letter-spacing: 0.1575rem;
}

.flightDate1 span {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  background: linear-gradient(#1f3c74, #ff0935);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.destination1 {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 237px;
  height: 328px;
  grid-column: 1 / 2;
  grid-row: 1/3;
}

.destination1 span {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  background: linear-gradient(#1f3c74, #ff0935);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 2.2rem;
}

.destination1 p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  max-width: 190px;
}

.destination1 i {
  font-size: 3.125rem;
}

.chances1 {
  width: 270px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 25px;
  grid-column: 2 / 4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.chances1 span {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(#fd0909, #621ef1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gate1 {
  width: 240px;
  height: 199px;
  background-color: #ffffff;
  border-radius: 25px;
  grid-column: 4/5;
  grid-row: 2/3;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.gate1 span {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(#1f3c74, #ff0935);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.departure1 {
  width: 377px;
  height: 169px;
  background-color: #ffffff;
  border-radius: 25px;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.departure1 span {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(#1f3c74, #ff0935);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrival1 {
  width: 377px;
  height: 169px;
  background-color: #ffffff;
  border-radius: 25px;
  grid-column: 3/5;
  grid-row: 3/4;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.arrival1 span {
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(#1f3c74, #ff0935);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


